# Change the [servers] section to the set of hosts where you want to
# install pbench-server. The various hosts can be running any
# combinations of RHEL7, RHEL8, or (supported) Fedora versions
# (currently 28 and 29).  They will also have different configuration
# files which can be specifified using the value of the cenv variable
# (which is used to set the value of the
# pbench_configuration_environment variable which is use to retrieve
# the configuration file from the URL in configurl) - see below for an
# example.

[servers]
host1            cenv=pbench-master
host1sat         cenv=pbench-satellite

# pbench_install_dir must be set to the same value as in the
# pbench-server.spec file that is used to build the pbench server RPM.

[servers:vars]
pbench_install_dir = /opt/pbench-server
configurl = http://pbench.example.com/server/config/{{ pbench_configuration_environment }}/pbench-server.cfg
configdest = "{{ pbench_install_dir }}/lib/config"
owner = pbench
group = pbench
